on: [push]

name: Build Docker Image And Submit Metadata To Reliza Hub

permissions:
  contents: write

jobs:
  build-cli:
    name: Build And Push CLI
    runs-on: ubuntu-latest
    steps:
      - name: RelizaHub Build And Submit Release metadata action
        uses: relizaio/reliza-docker-action@1b5949194b35164a1952f940edb211c606f5829b # experimental 3.12
        with:
          registry_username: ${{ secrets.DOCKER_LOGIN }}
          registry_password: ${{ secrets.DOCKER_TOKEN }}
          registry_host: registry.relizahub.com
          image_namespace: registry.relizahub.com/library
          image_name: rearm-cli
          reliza_api_id: ${{ secrets.RELIZA_API_ID }}
          reliza_api_key: ${{ secrets.RELIZA_API_KEY }}
          reliza_project_id: ${{ secrets.RELIZA_HUB_PROJECT_ID }}
          enable_sbom: 'false'
          platform_architectures: 'linux/amd64,linux/arm64,windows/amd64'
          # push_latest_tag: false
